$main_color: #6DD7DE;
$color_yellow: #FEDC6B;
$color_black: #000;
$color_white: #f4f4f8;
$color_red: #F56C6C;

//-- 
$main_color: #438496;
$color_red: #e24e42;
$color_white: #fbfbfb;
$color_black: #2a2a2a;
$color_yellow: #e9b000;
$color_aqua: #8306cc;

html, body {
  margin: 0;
  background-color: $main_color;
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  // border: 1px solid #000;
}

.el-main {
  padding-top: 90px;
  width: 100%;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-box {
    padding: 40px;
    width: 30%;
    height: 60%;
    border: 8px solid $color_black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 8px 8px 2px $color_yellow,
                8px 8px 2px $color_yellow;
  }
}

.el-form-item__label {
  text-shadow: 3px 3px $color_black;
  font-size: 20px;
  font-weight: bold;
  color: $color_red;
}

.common-text {
  text-shadow: 3px 2px $color_black;
  font-size: 30px;
  font-weight: bold;
  color: $color_red;
}

.operating-button {
  font-size: 15px;
  font-weight: bold;
  &.operating-button--submit {
    background-color: $color_yellow;
    color: $color_black;
    box-shadow: 2px 2px 1px $color_black;
  }
  &:hover {
    color: $main_color;
    transform: translateX(2px) translateY(2px);
    transition-duration: 500ms;
  }
}

/*-------------------------*/
/* $AdminDialog
/*-------------------------*/  
.dialog-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  .dialog-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    max-width: 600px;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    max-height: 100vh;
    background-color: $color_white;
    border: 4px solid $color_black;
    box-shadow: 3px 3px $color_yellow;
    .dialog-header {
      position: relative;
      z-index: 2;
      height: 50px;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      background-color: darken($main_color, 10%);
      display: flex;
      align-items: center;
      justify-content: center;
      .close-btn {
        position: absolute;
        right: 0;
        background-color: $color_white;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 5px;
        border: 3px solid $color_black;
        cursor: pointer;
        &::before,
        &::after {
          position: absolute;
          content: ' ';
          height: 31px;
          width: 5px;
          background-color: $color_red;
        }
        &::before {
          transform: translate(-50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%) rotate(-45deg);
        }
      }
    }
    .dialog-body {
      height: 300px;
      width: 100%;
      background-color: lighten($main_color, 5%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

/*-------------------------*/
/* $Button
/*-------------------------*/  
.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .base-btn {
    border: 3px solid $color_black;
    border-radius: 5px;
    padding: 3px 15px;
    margin: 10px 10px;
    background-color: darken($color_white, 10%);
    text-shadow: 2px 2px $color_yellow;
    font-size: 20px;
    font-weight: bold;
    color: $color_black;
    box-shadow: 3px 3px 1px $color_yellow;
    cursor: pointer;
  }
  .btn-confirm {
    color: $color_black;
    background-color: $color_red;
    text-shadow: 2px 2px $color_white;
  }
}

/*-------------------------*/
/* $Card
/*-------------------------*/  
.el-card {
  background: linear-gradient(45deg, $color_red 0%, $color_yellow 100%) !important;
  border: none;
}
.inform-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: darken($color_white, 10%);
  font-size: 13px;
  span {
    font-weight: bold;
  }
  i {
    font-size: 35px;
  }
  .inform-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/*-------------------------*/
/* $Marquee
/*-------------------------*/
.marquee {
  width: 100%;
  height: 2rem;
  background-color: $color_aqua;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      text-decoration: none;
    }
  }
}

.v-enter-active, .v-leave-active {
  transition: all .5s ease;
}

.v-enter-from, .v-leave-to {
  opacity: 0;
}

.v-enter-to, .v-leave-from {
  opacity: 1;
}